{% extends "base.html" %}
{% block title %}Login • Plantopedia{% endblock %}
{% block c1 %}#ff9a9e{% endblock %}{% block c2 %}#fad0c4{% endblock %}{% block c3 %}#fbc2eb{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-5">
    <div class="card glass p-4">
      <!-- Heading -->
      <h2 class="fw-bold mb-3 text-center text-black-100" style="-webkit-text-stroke: 1px black;">
        Welcome Back 🌱
      </h2>

      <!-- Error Message -->
      {% if error %}
      <div class="alert alert-danger text-center py-2">{{ error }}</div>
      {% endif %}

      <!-- Login Form -->
      <form method="post">
        <div class="mb-3">
          <label class="form-label text-black-50">Username</label>
          <input name="username" class="form-control form-control-glass" required>

          <label class="form-label text-black-50 mt-2">Password</label>
          <input name="password" type="password" class="form-control form-control-glass" required>
        </div>

        <!-- Login Button -->
        <div class="d-grid">
          <button class="btn btn-pill btn-primary btn-lg fw-bold">Login</button>
        </div>
      </form>

      <!-- Signup Link -->
      <p class="mt-3 text-center text-black-50 ">
        New here?
        <a class="fw-bold text-black-50-50" href="{{ url_for('signup') }}">Create an account</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}